<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>skygrid</string>
            </array>
        </dict>
    </array>
    <key>RevenueCatAPIKey</key>
    <string>$(REVENUECAT_API_KEY)</string>
    <key>SkyGridPrivacyPolicyURL</key>
    <string>$(SKYGRID_PRIVACY_POLICY_URL)</string>
    <key>SkyGridSupportURL</key>
    <string>$(SKYGRID_SUPPORT_URL)</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSAlarmKitUsageDescription</key>
    <string>Sky Grid uses alarms at the time you choose to help you capture your morning sky.</string>
    <key>SGDebugAppCheckToken</key>
    <string>$(INFOPLIST_KEY_SGDebugAppCheckToken)</string>
    <key>NSSupportsLiveActivities</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
        <string>processing</string>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.takmin.skygrid.upload</string>
    </array>
</dict>
</plist>
